@{
    ViewBag.Title = "Index";
}

<h2>Информация о продовцах</h2>

<div id="loader">
    <h2>Идет загрузка данных...</h2>
    <div class="load_spinner"></div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div id="data_sellers"> </div>
    </div>
    <div class="col-sm-5">
        @if (User.IsInRole("Admin"))
        {
            <button id="openCreateFormBtn" class="btn btn-primary">Добавить продавца</button>
        }
        <div id="dialog_form"></div>
    </div>
</div>

@section scripts {

    <script>

    $(document).ready(function () {
        loadData();
    });

    openAddForm = function () {
        console.log("Create opening");
        $("#dialog_form").load('@Url.Action("Create", "Sellers")');
    }

    openEditForm = function (idClient) {
        console.log("Edit opening")
        $("#dialog_form").load('@Url.Action("Edit", "Sellers")/' + idClient);
    }

    function deleteSeller(id) {
        $.post('@Url.Action("Delete", "Sellers")/'+ id,
            function () {
                loadData();
            }
        );
    }

    function loadData() {
        $("#loader").css('display', "display");
        $("#data_sellers").load('@Url.Action("Load", "Sellers")',
            function () {
                $("#loader").css('display', "none");
            }
        );
    }

    $("#openCreateFormBtn").click(openAddForm);

    </script>
}