<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
       <add name="DBSales" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=userstore;Integrated Security=True;"
   providerName="System.Data.SqlClient"/> 
  </connectionStrings>

  <appSettings>
    <add key = "SourceFolder" value="F:\Dot_Net_Project\Sales\WorkDirectory"/>
    <add key = "ProcessingFolder" value="F:\Dot_Net_Project\Sales\WorkDirectory\Processing"/>
    <add key = "ProcessedForlder" value="F:\Dot_Net_Project\Sales\WorkDirectory\Processed"/>
    <add key = "IvalidFileFolder" value="F:\Dot_Net_Project\Sales\WorkDirectory\IvalidFiles"/>

    <add key = "LogFile" value="F:\Dot_Net_Project\Sales\Log\log.txt"/>
    <add key = "DatePatterHeader" value ="ddMMyyyy"/>
    <add key = "DatePatterSale" value ="dd/MM/yyyy"/>
  </appSettings>

</configuration>