@model  WebStatisticSales.Models.SaleFileterView

<button class="btn btn-secondary" type="button" id="filtersBtn">Filters</button>

<form id="filter_form">
    <div class="form-row">
        <div class="form-group col-sm">
            <label for="clients">Выбор клиента</label>
            @Html.DropDownList("Clients", Model.Clients as SelectList,
               htmlAttributes: new { @class = "form-control" });
            <label for="sellers">Выбор продавцов</label>
            @Html.DropDownList("Sellers", Model.Sellers as SelectList,
               htmlAttributes: new { @class = "form-control" });
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm">
            <label for="Product">Выбор продукта</label>
            @Html.DropDownList("Products", Model.Products as SelectList,
             htmlAttributes: new { @class = "form-control" });
        </div>
        <div class="form-group col-sm">
            <label for="Cost">Цена</label>
            @Html.TextBox("SaleCost", "", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row col-sm-3">
        <input id="submit_filter_btn" class="btn btn-primary mb-2" type="submit" value="Найти">
        <hr>
        <button id="reset_filter_btn" class="btn btn-secondary mb-2">Сброс</button>
    </div>
</form>

<script>

    $("#reset_filter_btn").click((event) => {
        event.preventDefault();
        $("#selectSeller").val("");
        $("#selectClient").val("");
        $("#selectProduct").val("");
        $("#saleCost").val("");
    });

    $("#filtersBtn").click(function() {
        $("#filters_container").toggle();
    });

</script>