@{
    ViewBag.Title = "SalesIndex";
}

<h2>Продажи</h2>

<div id="loader">
    <h2>Идет загрузка данных...</h2>
    <div class="load_spinner"></div>
</div>
<div class="container">
    <div id="salesBlock"></div>
    @if (User.IsInRole("Admin"))
    {
        <button id="openCreateFormBtn" style="display: none;" class="btn btn-primary">Добавить продажу</button>
    }
    <div id="chart_div"></div>
</div>

<div id="dialog_window"></div>

@section scripts {
    <script>

        $(document).ready(() => {
            console.log("docs ready");
            loadData();

        });

        $("#openCreateFormBtn").click(() => {
            $("#dialog_window").load('@Url.Action("Create", "Sales")');
        });

        function loadChart() {
            $("")
        }

        function editSale(id) {
            $("#dialog_window").load('@Url.Action("Edit", "Sales")/' + id);
        }

        function loadData(page, data, beforLoad, afterLoad, href) {
            if (beforLoad != undefined) {
                beforLoad();
            }

            $("#loader").css('display', "display");
            console.log("load data");

            var url = "";
            if (href == undefined) {
                url += '@Url.Action("Load", "Sales")/?' + data + "&page=" + page;
            }
            else {
                url = href;
            }
            $("#openCreateFormBtn").hide();

            $("#salesBlock").load(url, (data) => {
                    if (afterLoad != undefined) {
                        afterLoad();
                    }   
                    $("#openCreateFormBtn").show();
                    $("#loader").css('display', "none");
                }
            );

        }

    </script>
}